<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>321750630820-dno6prhfu89q9q0tij3jedufacr724o5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321750630820-dno6prhfu89q9q0tij3jedufacr724o5</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PO86Etd_rHArojBHvkuZXlPs34H64GY</string>
	<key>GCM_SENDER_ID</key>
	<string>321750630820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EslamAlimaakmaak.MAAKMAAK</string>
	<key>PROJECT_ID</key>
	<string>maakmaak-224518</string>
	<key>STORAGE_BUCKET</key>
	<string>maakmaak-224518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321750630820:ios:976148aa968255f3</string>
	<key>DATABASE_URL</key>
	<string>https://maakmaak-224518.firebaseio.com</string>
</dict>
</plist>