<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>993588242544-7si7rgs84k4lq6145rs81is11ug0hi5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993588242544-7si7rgs84k4lq6145rs81is11ug0hi5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDeiUzlJHoKaEL6fbidzEVtfAwK3BQYPBo</string>
	<key>GCM_SENDER_ID</key>
	<string>993588242544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EslamAlimaakmaak.MAAKMAAK</string>
	<key>PROJECT_ID</key>
	<string>maakmaak-f2faf</string>
	<key>STORAGE_BUCKET</key>
	<string>maakmaak-f2faf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993588242544:ios:976148aa968255f3</string>
	<key>DATABASE_URL</key>
	<string>https://maakmaak-f2faf.firebaseio.com</string>
</dict>
</plist>